@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";

.app,
.app_modal,
.app_drawer{
    font: var(--font-m);
    color: var(--primary-color);
}
.app{
    background: var(--bg-color);
    min-height: 100vh;
}
.content-page {
    display: flex;
}

.newCounter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    border: 2px solid cadetblue;

}
