.Button {
  margin: 0;
  cursor: pointer;
  padding: 6px 15px;
  color: var(--primary-color);

  &:hover {
    opacity: 0.7;
    fill-opacity: 0.7;
    stroke-opacity: 0.7;
  }
}

.clear, .clearInverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--inverted-bg-color);
  background: none;
}

.outline_red {
  border: 1px solid var(--red-light);
  color: var(--red-light);
  background: none;
}
.outline_green {
  border: 1px solid var(--green-light);
  color: var(--primary-color);
  background: var(--green-light);
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.background-inverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.square {
  padding: 0;
}

.size_m {
  font-size: var(--font-size-m);
}

.size_l {
  font-size: var(--font-size-l);
}

.size_xl {
  font-size: var(--font-size-xl);
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.disabled {
  opacity: 0.5;
}
.fullWidth{
  width: 100%;
}
