.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
    --red-dark: #650404;

    --skeleton-color: #233ea9;
    --skeleton-shadow: rgba(101, 118, 203, 0.2);

    --code-bg: #5959b9;

    --card-bg: #151581
}
