:root {
    --bg-color: rgba(128, 128, 154, 0.66);
    --inverted-bg-color: #090949;
    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
    --red-light: #e00909;

    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --code-bg: #6380d3

}
