.NotificationButton {
}
.notifications{
  min-height: 150px;
  max-height: 300px;
  width: 500px;
  overflow-y: auto;
}
.notification{
  min-height: 150px;
  max-height: 400px;
  width: 500px;
  overflow-y: auto;
}
