.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}
.NavbarRedesigned {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    padding: 16px;
}
.actions {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}
.createBtn{

}
.appName{
    width: var(--sidebar-width);
}
